@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #20201E;
  --secondary: #FAF7F3;
  --accent: #EB601D;
  --textwo: #EEEAE5;
  --textthree: rgba(32, 32, 30, 0.70);
  --border: rgba(250, 247, 243, 0.20);
  --bordertwo: #38382E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
